body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(68, 22, 236);
    padding: 20px;
    font-size: 32px;
    color: rgb(68, 22, 236);  

}element.style {
    border: solid;
} 